<div class="header">
<h1 class="title"><a class="home-link" href="/">Probots</a></h1>
<h3 class="subtitle">An online community for Professional Robots</h3>
</div>

<h1 class="confirm">Connection request sent!</h1>

<div class="end">
  <a class="return" href="/">Return to Home Page</a>
</div>
