<h1>Welcome: Create your account here</h1>

<form class="" action="/signup" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" name="username" class="form-control" id="exampleInputEmail1" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>

  <input type="submit" class="btn btn-default" value="Signup"></input>
</form>

<p>Already have an account?<a href="/login"> Login </a></p>
