body {
  background-color: #999;
  margin: 0;
  width: 100%;
}

.header {
  background-color: #005b96;
  color: #fff;
  padding: 20px 30px;
  width: 96%;
  margin: 30px 0;
  border: 2px solid #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.looking, .working {
  color: #fff;
  margin: 3px;
  text-decoration: none;
}

.looking:hover, .working:hover {
  text-decoration: underline;
}

.title {
  font-family: 'Bree Serif', serif;
  font-size: 48px;
  margin: 0;
}

.subtitle {
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.user {
  border: 2px solid #333;
  border-radius: 2px;
  width: 20%;
  padding-left: 20px;
  padding-right: 10px;
  margin-bottom: 20px;
  background-color: #f5f5dc;
  font-family: 'Roboto', sans-serif;
}

.user:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.userAvatar {
  margin: 20px 20% auto 25%;
  border: 2px solid #333;
  border-radius: 2px;
  background-color: #fff;
}

.profileContainer {
  margin: 100px 20% 100px 20%;
}

.name {
  font-family: 'Bree Serif', serif;
  color: #005b96;
}

.name-link {
  text-decoration: none;
}

.firstLine, .secondLine {
  display: inline;
}

.avail {
  display: inline;
  color: #ee3426;
}

.contact1, .contact2 {
  display: inline;
}

.profPic {
  float: left;
  border: 2px solid #333;
  border-radius: 50%;
  margin: 20px;
  background-color: #fff;
}

.profName {
  font-size: 60px;
  margin: 0;
}

.userProfInfo {
  position: relative;
  top: 30px;
  left: 20px;
}

.ed {
  display: inline-block;
  margin: 40px 10px 0 0;
}

.uni {
  display: inline;
}

.last {
  width: 25%;
  margin-top: 54px;
  margin-left: 50px;
}

.skilled {
  display: inline;
  margin-bottom: 0;
}

.allSkills {
  float: right;
  width: 135px;
}

.each {
  margin: 0 0 5px 0;
}

.profileContainer {
  background-color: #f5f5dc;
  height: 450px;
  border: 2px solid #333;
}

.end {
  width: 100%;
  text-align: center;
  margin-bottom: 150px;
}

.connect {
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  position: relative;
  right: 50px;
}

.connectButton {
  text-decoration: none;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 5px;
  color: #fff;
  background-color: #005b96;
  font-family: 'Roboto', sans-serif;
}

.return {
  border: 2px solid #333;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  background-color: #005b96;
  color: #fff;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

.home-link {
  text-decoration: none;
  color: #fff;
}

.confirm {
  padding: 50px;
  margin: 100px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #111;
}

.available, .employed {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: #005b96;
  text-align: center;
  padding: 10px;
  border: 2px solid #333;
}
